<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Calculadora Hora de Muerte{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
    <header>
        <h1>Calculadora de Hora de Muerte (Ley de Enfriamiento de Newton)</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Desarrollado por Max | <a href="/">Volver al inicio</a></p>
    </footer>
</body>
</html>